<!DOCTYPE html>
<html lang="en">
<head>

<!-- TITLE -->
<title>{% if page.title %}{{ page.title }} | {% endif %} Dapper Buddha</title>

<!-- META INFORMATION -->
<meta charset="UTF-8">
<meta name="copyright" content="2012 Dapper Buddha" />
<meta name="robots" content="index,all" /> 
<meta name="revisit-after" content="1 day" />

<!-- STYLESHEETS --> 
<link type="text/css" href="css/reset.css" rel="stylesheet" /> 
<link type="text/css" href="css/style.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<!--[if lte IE 7]>
<link type="text/css" href="css/ie7.css"  media="screen" rel="stylesheet" />
<![endif]-->
<!--[if lte IE 6]>
<link type="text/css" href="css/ie6.css"  media="screen" rel="stylesheet" />
<![endif]-->

<!-- JAVASCRIPT --> 
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>  -->

<!-- FAVICON --> 
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" /> 

<!-- HTML5 FIX OLDER BROWSERS -->
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">	</script>
<![endif]-->

</head>

<body>

<!-- START WRAPPER -->
<div id="wrapper">

    {{ content }}	
	
    <footer class="grid5">
    	<hr />
    	<div class="grid1">&nbsp;</div>
    	<div class="grid3">
    	    &copy; 2012 Dapper Buddha
    	        &#8226;
            <a href="mailto&#58;contact&#64;dapperbuddha&#46;com">contact&#64;dapperbuddha&#46;com</a>
        </div> 
    	<div class="grid1">&nbsp;</div>
    </footer>
	
	<div class="spacer"><!-- SPACER --></div>
</div>
<!-- END WRAPPER -->

</body>
</html>
