---
layout: default
---
<div class="grid2 margin_no_bottom">
    {% include navigation.html %}

    <div class="grid2 align_right">
        <div class="font_small">8 september</div>
        <h3>Finibus Bonorum et Mal</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
        
        <div class="font_small">8 september</div>
        <h3>Finibus Bonorum et Mal</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
        
        <div class="font_small">8 september</div>
        <h3>Finibus Bonorum et Mal</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>			
	</div>
</div>

<header class="grid3 no_side_margin">
	<h1 class="inset">Dapper Buddha</h1>
	<div class="font_huge inset">We make cool stuff</div>
</header>

<div class="grid3 no_side_margin">
	<div class="ruler">
		<hr />
		<h2>{{ page.title }}</h2>
	</div>
    {{ content }}	
</div>
